@model JitCars.Models.Cargo

@{
    ViewData["Title"] = "Atualizar Cargo";
}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">Atualizar  Cargo</h1>
    </div>

    <form method="post" asp-action="Atuaizar">

        <input type="hidden" asp-for="Id" />

        <div class="mb-3 text-white">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" asp-for="Titulo" id="tituloInput" autocomplete="off">
            <span class="text-danger" asp-validation-for="Titulo"></span>
        </div>

        <div class="mb-3 text-white">
            <label for="date" class="form-label">Data</label>
            <input type="text" class="form-control" asp-for="Date" id="dateInput" autocomplete="off" disabled>
            <!-- A data não será editável pelo usuário -->
            <span class="text-danger" asp-validation-for="Date"></span>
        </div>

        <div class="mb-3 text-white">
            <label for="salario" class="form-label">Salário</label>
            <input type="text" class="form-control" asp-for="Salario" id="salarioInput" autocomplete="off">
            <span class="text-danger" asp-validation-for="Salario"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Atualizar</button>
            <a class="btn btn-primary w-50" asp-controller="Cargo" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
