@model JitCars.Models.Modelo
@using JitCars.Enums

@{
    ViewData["Title"] = "Deletar";
}

<div class="p-4 pt-2">
    <h3>Tem certeza de que deseja excluir esse modelo?</h3>
    <p class="text-danger"><i class="bi bi-exclamation-circle"></i> Obs.: todos os carros cadastrados com esse modelo serão deletados!</p>
    <form asp-action="Deletar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-2">
            <label asp-for="Marca" class="control-label"></label>
            <input disabled asp-for="Marca" class="form-control mt-1" />
            <span asp-validation-for="Marca" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="Nome" class="control-label"></label>
            <input disabled asp-for="Nome" class="form-control mt-1" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="AnoFabricacao" class="control-label"></label>
            <input disabled type="number" asp-for="AnoFabricacao" class="form-control mt-1" min="0" step="1" />
            <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Carroceria" class="control-label"></label>
            <select asp-for="Carroceria" class="form-select">
                <option value="" selected disabled>Selecione um tipo</option>
                @if (ViewBag.carrocerias != null)
                {
                    @foreach (var carroceria in ViewBag.carrocerias)
                    {
                        <option value="@carroceria">@Enum.GetName(typeof(Carroceria), @carroceria)</option>
                    }
                }
            </select>
            <span asp-validation-for="Carroceria" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="ImagemUrl" class="control-label"></label>
            <input disabled asp-for="ImagemUrl" class="form-control mt-1" />
            <span asp-validation-for="ImagemUrl" class="text-danger"></span>
        </div>

        <div class="d-flex form-group gap-2">
            <input type="submit" value="Deletar" class="btn btn-danger" />
            <div>
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
        </div>
    </form>
</div>