@using JitCars.Enums
@model Venda

@{
	var clienteCPF = Model.Cliente.Cpf;
	var nomeFuncionario = Model.Funcionario.PrimeiroNome + " " + Model.Funcionario.Sobrenome;
}

<form method="post" asp-action="DeletarPOST">
	<input asp-for="Id" hidden/>
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Deletar Venda</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="ClienteId"></label>
			<input value="@clienteCPF" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="FormaPagamento"></label>
			<input value="@Enum.GetName(typeof(FormaPagamento),Model.FormaPagamento)" disabled class="form-control" />
		</div> 
		<div class="mb-3">
			<label asp-for="FuncionarioId"></label>
			<input value="@nomeFuncionario" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Cancelar</button>
		<a asp-controller="Venda" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Voltar
		</a>
	</div>

</form>