@model RegistrarViewModel;
@{
    ViewData["Title"] = "Cadastrar Funcionário";
}

<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">@ViewData["Title"]</h1>
    </div>
    <form asp-action="Registrar" method="post">

        <div class="mb-3 text-white">
            <label asp-for="PrimeiroNome"></label>
            <input asp-for="PrimeiroNome" class="form-control" />
            <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="Sobrenome"></label>
            <input asp-for="Sobrenome" class="form-control" />
            <span asp-validation-for="Sobrenome" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="NomeUsuario"></label>
            <input asp-for="NomeUsuario" class="form-control" />
            <span asp-validation-for="NomeUsuario" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="Cpf"></label>
            <input asp-for="Cpf" class="form-control" type="number" step="1" min="0" />
            <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="Endereco.Cep"></label>
            <input asp-for="Endereco.Cep" class="form-control" type="number" step="1" min="0" />
            <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="Endereco.Estado"></label>
            <input asp-for="Endereco.Estado" class="form-control" />
            <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="Endereco.Cidade"></label>
            <input asp-for="Endereco.Cidade" class="form-control" />
            <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="Endereco.Bairro"></label>
            <input asp-for="Endereco.Bairro" class="form-control" />
            <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="Endereco.Rua"></label>
            <input asp-for="Endereco.Rua" class="form-control" />
            <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="Endereco.Numero"></label>
            <input asp-for="Endereco.Numero" class="form-control" min="1" />
            <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
        </div>

        <div class="mb-3 text-white">
            <label asp-for="CargoId"></label>
            <select asp-for="CargoId" class="form-select">
                <option value="" selected disabled>Selecione um cargo</option>
                @if (ViewBag.cargos != null)
                {
                    @foreach (var cargo in ViewBag.cargos)
                    {
                        <option value="@cargo.Id">@cargo.Titulo - @cargo.Salario.ToString("C")</option>
                    }
                }
            </select>
            <span asp-validation-for="CargoId" class="text-danger"></span>
        </div>

        
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Cadastrar</button>
            <a class="btn btn-primary w-50" asp-controller="Home" asp-action="Index">Voltar</a>
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
